.collections-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
}

.clc-watch-img {
  width: 400px;
  height: 400px;
}

.image-main-size-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 0px;
  padding: 0px;
}

.img-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.clc-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  list-style-type: none;
}

.cl-alu-li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 220px;
  margin-left: 20px;
}

.clc-alu-img {
  width: 300px;
  height: 250px;
}

.cl-li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 80px 0px 80px;
  width: 400px;
}

.clc-band-img {
  width: 100px;
  height: 300px;
}

.clc-detail-div {
  font-family: 'Roboto';
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  color: #070707;
  margin-top: 20px;
}

.side-view-p {
  font-size: 10px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  color: #5b76ec;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.series-p {
  font-size: 12px;
  font-weight: 600;
  color: #757780;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.price-p {
  color: #757780;
  font-size: 12px;
}

.cl-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 1100px;
}

.clc-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8d9e0;
  font-size: 12px;
  font-weight: 600;
  color: #4e4d4d;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  outline: none;
  border: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.empty-btn {
  border: 0;
  background-color: transparent;
  outline: none;
}
