.nav-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.selection-input {
  text-align: center;
  border: 0px;
  font-size: 15px;
  margin-right: 20px;
  width: 90px;
}

.sl-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px;
}

@media screen and (max-width: 767px) {
  .nav-header {
    flex-direction: column;
    align-items: center;
    border-bottom-style: none;
  }
}

.nav-bar-mobile-logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .nav-bar-mobile-logo-container {
    display: none;
  }
}

.nav-bar-large-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .nav-bar-large-container {
    display: none;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-menu-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu-mobile {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-menu-mobile {
    display: none;
  }
}

.nav-menu-item {
  font-family: 'Roboto';
  margin: 10px;
  font-weight: 400;
  font-size: 20px;
}

.nav-menu-item-mobile-home {
  cursor: pointer;
  list-style-type: none;
  margin-top: 10px;
}

.save-btn {
  background-color: #859af7;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  outline: none;
  border: 0px;
  margin-right: 10px;
}
